<% if timeline_items.any? %>
  <% timeline_items.each do |item| %> 
    <% if item.is_a?(FeedbackItem) %>
      <li class="mb-10 ms-6">
        <span class="absolute flex items-center justify-center w-6 h-6 bg-brown-200 rounded-full -start-3 ring-8 ring-white">
          <svg class="w-3 h-3 text-brown-800" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
            <path fill-rule="evenodd" d="M3 5.983C3 4.888 3.895 4 5 4h14c1.105 0 2 .888 2 1.983v8.923a1.992 1.992 0 0 1-2 1.983h-6.6l-2.867 2.7c-.955.899-2.533.228-2.533-1.08v-1.62H5c-1.105 0-2-.888-2-1.983V5.983Zm5.706 3.809a1 1 0 1 0-1.412 1.417 1 1 0 1 0 1.412-1.417Zm2.585.002a1 1 0 1 1 .003 1.414 1 1 0 0 1-.003-1.414Zm5.415-.002a1 1 0 1 0-1.412 1.417 1 1 0 1 0 1.412-1.417Z" clip-rule="evenodd"/>
          </svg>
        </span>
        <h3 class="mb-1 text-lg font-semibold">
          <span class="text-blue-600">Feedback</span>
          <span class="text-brown-800">from <%= item.provider_name %></span>
        </h3>
        <time class="block mb-2 text-sm font-normal leading-none text-brown-400 dark:text-brown-500">Shared on <%= item.created_at.strftime("%B %d, %Y") %></time>
        <p class="text-base font-normal text-brown-500 dark:text-brown-400"><%= item.content %></p>
      </li>
    <% elsif item.is_a?(ProgressUpdate) %>
      <li class="ms-6">
        <span class="absolute flex items-center justify-center w-6 h-6 bg-brown-200 rounded-full -start-3 ring-8 ring-white">
          <svg class="w-3.5 h-3.5 text-brown-800" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 4v15a1 1 0 0 0 1 1h15M8 16l2.5-5.5 3 3L17.273 7 20 9.667"/>
          </svg>

        </span>
        <h3 class="mb-1 text-lg font-semibold text-brown-800 dark:text-white">
          <span class="text-blue-600">Progress Update</span>
          <span class="text-brown-800"></span>
        </h3>
        <time class="block mb-2 text-sm font-normal leading-none text-brown-400 dark:text-brown-500">Logged on <%= item.created_at.strftime("%B %d, %Y") %></time>
        <p class="text-base font-normal text-brown-500 dark:text-brown-400"><%= item.actions %></p>
        <p class="pb-6 text-base font-normal text-brown-500 dark:text-brown-400"><%= item.extractions %></p>
      </li>
    <% end %>
  <% end %>
<% else %>
  <p class="text-center text-brown-500 dark:text-brown-400 py-4">
    No timeline items yet.
  </p>
<% end %>




